.header__content{
    padding: 30px;
    background-color: #28a74547;
}

.btn__register{
    float: right;
    background-color: green;
}

.btn__cancel{
    background-color: #fff!important;
    color: #000!important;
    border-color: #fff!important;
}
