<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
<header class="header">
    <div class="header__content d-flex justify-content-end">
        <a th:href="@{/home}" class="btn btn-primary btn__cancel">Вернуться на главную</a>
    </div>
</header>
<div class="text-center"><p class="my-5 userPage__text">Вы еще не приобрели ни одного билета</p></div>
<div class="home__content ">
    <div><p class="my-5">Приобретенные билеты</p></div>
    <div class="table">
        <div class="table__header d-flex">
            <div class="col-3 text-center font-weight-bold">Направление</div>
            <div class="col-2 text-center font-weight-bold">Дата</div>
            <div class="col-2 text-center font-weight-bold">Стоимость</div>
            <div class="col-2 text-center font-weight-bold">Количество свободных мест</div>
        </div>
        <div class="table__stroke d-flex my-4">
            <div class="col-3 text-center">Москва-Минск</div>
            <div class="col-2 text-center">
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-2 text-center">345</div>
            <div class="col-2 text-center">6</div>
            <div class="col-3 text-center"><button class="btn btn-outline-danger">Вернуть билет</button></div>
        </div>
    </div>
</div>
</body>
</html>